<div class="container">
  <div class="form-wrapper">
    <form [formGroup]="form" (ngSubmit)="submit()">
      <h1>TODO Card</h1>

      <div class="form-item-wrapper">
        <input type="text" id="title" placeholder="Title" formControlName="title">
      </div>

      <div class="form-item-wrapper">
        <input type="text" id="text" placeholder="Text" formControlName="text">
      </div>

      <div class="form-buttons">
        <button class="btn" type="submit" [disabled]="form.invalid">Add</button>
      </div>
    </form>
  </div>
</div>

<div class="todolist-wrapper">
  <div class="container">
    <div class="todolist-item" *ngFor="let post of posts; let index = index;">
      <div class="todolist-title">
        <h2>{{post.title}}</h2>
      </div>

      <div class="todolist-text">
        <p>{{post.text}}</p>
      </div>

      <div class="todolist-item-buttons">
        <button class="btn btn-delete" type="button" (click)="delete(index)">Delete</button>
      </div>
    </div>
  </div>
</div>
